<div class="wrapper">
  <div class="messages">
    <div id="result-div" class="result-div">
      <div class="action-box">
        <h2 class="fadeIn delay-time05">【YourMessage】</h2>
      </div>  
      <ul id="user-message">
      </ul>
    </div>
    <div class="talk-action">
      <input class="talk-btn poyopoyo" type='submit' id="talk-btn" value="Let's talk!">
    </div>
    <div id='program-result' class="program-result">
      <div class="action-box">
        <h2 class="fadeIn delay-time1">【Reply】</h2>
      </div>
      <ul id="program-message">
      </ul>
    </div>
  </div>
  <div class="wave">
      <canvas id="waveCanvas"></canvas>
  </div>  
</div>
<div class="shutter">
  <img src="images/ruby.svg" alt="ロゴ" class="logo"/>
</div>
<div class="img"></div>