<div class="openbtn1"><span></span><span></span><span></span></div>
  <nav id="g-nav">
    <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
      <ul>
        <li><a href="#">Top</a></li> 
        <li><a href="#">About</a></li> 
        <li><a href="#">Service</a></li> 
        <li><a href="#">Contact</a></li> 
      </ul>
    </div>
  </nav>
<div class="circle-bg"></div>
<div class="wrapper">
  <div class="messages">
    <div id="result-div" class="result-div">
      <div class="action-box">
        <h2 class="fadeIn delay-time05">【Request】</h2>
      </div>  
      <div id="user-message" class="user-message">
      </div>
    </div>
    <div class="talk-action">
      <button class="talk-btn poyopoyo" id="talk-btn"><img src="images/mike.svg" alt="マイク" class="mike" width="100" height="100"></button>
    </div>
    <div id='program-result' class="program-result">
      <div class="action-box">
        <h2 class="fadeIn delay-time1">【Suggestion】</h2>
      </div>
      <div id="program-message" class="program-message">
      </div>
    </div>
  </div>
  <div class="wave">
    <canvas id="waveCanvas"></canvas>
  </div>  
</div>
<div class="shutter">
  <img src="images/ruby.svg" alt="ロゴ" class="logo"/>
</div>
<div class="img"></div>